body {
  font-family: 'Open Sans', sans-serif;
  background: rgb(0, 22, 71);
  color: white;
  text-align: center;
}

.game { display: none; top: 0; left: 0; position: absolute; }

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin: 8px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 150%;
  outline: 0;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
  color: white;
}

.btn:hover {
  padding-left: 50px;
}

.btn-play {
  background: #80006f;
}

.btn-how {
  background: #0059ff;
}

.btn-restart {
  background: #ff8800;
}

.hide { display: none; }
.left { text-align: left; }
.high-score, .score { font-weight: bold; color: rgb(94, 191, 255); }

.new-high-score {
  text-align: left;
  padding: 10px;
  border-radius: 4px;
  background: #02cf02;
}

/* colorpicker { color: hsl(216, 100%, 14%);
color: hsl(216, 50%, 50%);
color: rgb(54, 54, 54);
color: rgb(0, 67, 168);
color: rgb(0, 45, 112); } */